.bg-green {
    --bs-bg-opacity: 1;
    background-color: #20c997 !important;
}

.btn-green {
    color: #20c997;
    background-color: #fff;
    border-color: #6c757d;
}

.btn-green-r {
    color: #20c997;
    background-color: #fff;
    border-color: #6c757d;
    border-left:0px;
    border-right:0px;
    border-top:3px solid #6c757d;
    border-bottom:3px solid #6c757d;
    border-radius: 0%;
}

.btn-studio-r {
    color: #6c757d;
    background-color: #fff;
    border-color: #6c757d;
    border-left:0px;
    border-right:0px;
    border-top:3px solid #6c757d;
    border-bottom:3px solid #6c757d;
    border-radius: 0%;
    padding-left: 25px;
    padding-right: 25px;
}
.mr-5 {
    margin-right: 5rem ;
}